/*
Theme Name: Travel Hub
Template: adventure-travelling
Text Domain: travel-hub
Author: ThemesPride
Author URI: https://www.themespride.com/
Theme URI: https://www.themespride.com/themes/free-travel-wordpress-theme/
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Description: Travel Hub is a best choice for any travel related website. The theme is multipurpose in nature. It is implemented on bootstrap framework which makes it very handy to use Travel Hub is the best choice suitable for holiday, hotel booking, travel agency, resort, tourism, spa, vacation, accommodation, B&B, Tourist Destinations, Travel Magazines, Travel Diaries, Travel Guides, magazine, portfolio and preferably ideal for any type of blog sites. The theme is SEO-friendly that will help your website rank soon on major search engines like Google. It is translation-ready and supports RTL layout. You can add shortcodes if you know coding. Also, it has minimal design and is mobile-friendly which looks beautiful on any device, be it desktop, mobile or tabs. It is user-friendly and offers a lot of customization and personalization options and features. It is optimized for speed hence loads without any glitches. It is written with clean and secure codes. The social media option let’s you link all your social media pages to the website. Moreover, it has a testimonial section where your visitors and customers can comment on your work.
Tags: wide-blocks, block-styles, one-column, two-columns, right-sidebar, left-sidebar, three-columns, four-columns, grid-layout, custom-colors, custom-header, custom-background, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, full-width-template, sticky-post, theme-options, threaded-comments, blog, holiday, photography
Version: 0.2.2
Tested up to: 5.8
Requires PHP: 5.6
*/

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}

.center{
	border-color: #bbb;
}

/* color 1 */

.menubar,.main-navigation ul ul,.site-info,#theme-sidebar button[type="submit"],.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,.prev.page-numbers:focus, .prev.page-numbers:hover, .next.page-numbers:focus, .next.page-numbers:hover,.page-numbers:hover,.more-btn a:hover,#slider .carousel-control-prev-icon, #slider .carousel-control-next-icon,.read-more-btn a:hover,.cat-inner-box a:hover,#footer,span.meta-nav,.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background: #344269;
}
h1, h2, h3, h4, h5, h6,.box-info i,.logo p,.call p, .email p,.box-content a, #theme-sidebar .textwidget a, #footer .textwidget a, .comment-body a, .entry-content a, .entry-summary a,#theme-sidebar h3,nav.woocommerce-MyAccount-navigation ul li a,.timebox span,.timebox i,.social-media span,.social-media i,.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,.page-numbers,.more-btn a,#static-blog h3,.blog-info,#static-blog h4 a,.read-more-btn a,.cat-inner-box a,.search-box i,#comments input[type="submit"],#theme-sidebar a:hover,.wp-block-file .wp-block-file__button, .wp-block-button .wp-block-button__link, #footer button[type="submit"]{
	color: #344269;
}
nav.woocommerce-MyAccount-navigation ul li{
	border-color: #344269;
	box-shadow: 2px 2px 0 0 #344269;
}

.center1{
    border-left-color: #344269;
    border-top-color: #344269;
    width: 150px;
    height: 150px;
}
.center1 .ring::before {
    background: #344269;
    box-shadow: 0 0 0 10px hsl(224deg 34% 31% / 40%), 0 0 10px 15px hsl(224deg 34% 31% / 50%);
}

/* color 2 */

.top-header,.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,.page-numbers,.prev.page-numbers, .next.page-numbers,.more-btn a,.blog-info,.read-more-btn a,.cat-inner-box a,.search-box i,#comments input[type="submit"],.wp-block-file .wp-block-file__button, .wp-block-button .wp-block-button__linkm,#footer button[type="submit"]{
	background: #fcbcba;
}
a,.call i, .email i,.main-navigation a:hover,.main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a,p.infotext,a:hover{
	color: #fcbcba;
}

#static-blog h3,.search_inner form.search-form{
	border-color: #fcbcba;
}

.center2 {
    border-left-color: #fcbcba;
    border-top-color: #fcbcba;
    width: 70px;
    height: 70px;
}

.center2 .ring::before {
    background: #fcbcba;
    box-shadow: 0 0 0 10px hsl(2deg 92% 86% / 40%), 0 0 10px 15px rgb(252 188 186 / 50%);
}

/* color 3 */

.site-info p,#theme-sidebar button[type="submit"],.page-numbers:hover a,.read-more-btn a:hover,#footer li a,#footer li,#footer th, #footer td,#footer caption,#footer .textwidget,#footer .tagcloud a,span.meta-nav{
	color: #fff;
}
.headerbox{
	background: #fff;
}

#footer h3,#footer th,#footer td,#footer tr,#footer table#wp-calendar,#footer .widget_rss li,#footer .tagcloud a{
    border-color: #fff;
}

body,#theme-sidebar li,#theme-sidebar a,.page-box p,.box-info span,#static-blog p{
	color: #696969;
}

.logo,.call{
    text-align: left;
}

/* Slider */

#slider .inner_carousel h2{
	text-transform: uppercase;
	border-left: solid 7px #fcbcba;
    font-size: 50px;
}
.read-more-btn a {
	border: none;
    font-weight: bold;
    font-size: 12px;
}

/* Trip Offers */

#travel-offer h6 {
    font-size: 15px;
    font-weight: 900;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    color: #fcbcba;
    margin-bottom: 20px;
}
#travel-offer h2 {
    border-left: solid 7px #fcbcba;
    font-size: 35px;
    padding-left: 25px;
}
.cat-inner-box {
    border: solid 1px #dbdcde;
}
.cat-inner-box h4 {
    position: absolute;
    top: 0;
    right: 15px;
    background: #fcbcba;
    padding: 10px;
    font-size: 15px;
}
.cat-inner-box h3 {
    font-size: 16px;
    letter-spacing: 1px;
}
.cat-inner-box span {
    font-size: 14px;
}
.cat-inner-box a {
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
}
.site-info {
    border-top: solid 1px #fff;
}

@media screen and (max-width: 767px){
    .logo,.call,#slider .inner_carousel {
        text-align: center;
    }
    .logo,.email {
        margin-bottom: 20px;
    }
    .innermenubox {
        padding-bottom: 0;
    }
    .main-navigation ul ul{
        background: transparent;
    }
    #slider .carousel-caption {
        right: 15%;
    }
    #slider .carousel-control-prev-icon, #slider .carousel-control-next-icon{
        padding: 15px;
    }
    .offer-box{
        padding: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .innermenubox {
        padding-bottom: 0;
    }
    .main-navigation ul ul{
        background: transparent;
    }
    #slider .carousel-caption{
        right: 25%;
    }
}