/*
Theme Name: Adventure Travelling
Theme URI: https://www.themespride.com/themes/free-travel-agency-wordpress-theme/
Author: ThemesPride
Author URI: https://www.themespride.com/
Description: Adventure travelling is a bold, powerful, attractive and multipurpose travel WordPress theme for travel agency, tour planners, tourist guides, adventure blogs, travel magazines, sports, trekking, railing, rafting, snowboard, sport, sea adventure agency, vacation destinations, summer holiday, games, fun, tour presentation, tour packages, elking, hunting, military, zorbing, Airport Shuttle, bike rental, tournament, tours, travel itenary, honeymoon package, travel videography, travel guide, trip, voyage, adrenaline, cycling, football club, mountain biking, travel blogging, mountain climbing, skiing, surfing, exotic holiday vacation planning, tour operators, Scuba Diving School, body zorbing, amusement park, providing diving, snorkeling, surfing or hiking activities, tourist destination, tourist hotels and airline agencies and all the people related to tourism industry in one way or the other. The theme has an inviting and appealing design with banners and sliders adding to its beauty. Built on Bootstrap framework, it has a strong foundation with easy usage solution. Its user-friendly interface and well-structured layout lead to smooth navigation. It has a fluid layout which is responsive to varying screen sizes. To help serve in local languages, it is made translation ready. It is cross-browser compatible, SEO-friendly and lightweight for speedy loading. Made from scratch, it is bug-free to conform to the WordPress standards. Customization is a powerful tool provided by this theme to ensure good control over the site. Social media icons are linked with the theme to easily reach people. Live Preview: https://themespride.com/tp-adventure-traveling-pro/
Version: 0.9.1
Tested up to: 5.8
Requires PHP: 7.2
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: adventure-travelling
Tags: wide-blocks, block-styles, one-column, two-columns, right-sidebar, left-sidebar, three-columns, four-columns, grid-layout, custom-colors, custom-header, custom-background, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, post-formats, threaded-comments, translation-ready, blog, news, portfolio

Adventure Travelling WordPress Theme, Copyright 2018 ThemesPride
Adventure Travelling is distributed under the terms of the GNU GPL

*/

html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body{ 
  margin:0;
  padding:0;
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  background-color:#fff;
  font-size:15px;
  color:#999;
  font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
  color: #222;
  font-family: 'Playfair Display', serif;
}
p{
  font-size: 14px;
}
a{ 
  text-decoration:none;
  color:#ffcc05;
}
a:hover{ 
  text-decoration:none;
  color:#d28d07;
}
input[type="search"] {
  padding: 10px;
  border: 1px solid #ebebeb;
  font-size: 15px;
}
button[type="submit"] {
  padding: 11px;
  background: #ffcc05;
  border: none;
  cursor: pointer;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
textarea{
  width: 100%;
}
.box-content a,
#theme-sidebar .textwidget a,
#footer .textwidget a,
.comment-body a,
.entry-content a,
.entry-summary a{
  text-decoration: underline;
  color: #ffcc05;
}

/*--------------------------------------------------------------
Accessibility CSS
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
  Pre Loader
--------------------------------------------------------------*/

.loader{
  background: #fff;
  z-index: 99999;
  width: 100%;
  height: 100%;
  position: fixed;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 5px solid #222222;
  border-radius: 50%;
}
.center1{
  width: 200px;
  height: 200px;
  border-left-color: #ffcc05;
  border-top-color: #ffcc05;
  animation: animateCenter1 2s infinite linear;
}
.center2{
  width: 100px;
  height: 100px;
  border-left-color: #2196f3;
  border-top-color: #2196f3;
  animation: animateCenter2 2s infinite linear;
}
.ring{
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%);
  width: 4px;  
  height: 50%;
  background: transparent;
}
.center1 .ring{
  transform: translateX(-50%) rotate(45deg);
}
.center2 .ring{
  transform: translateX(-50%) rotate(-135deg);
}
.ring::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 20px;  
  height: 20px;
  border-radius: 50%;
}
.center1 .ring::before{   
  background: #ffc107;
  box-shadow: 0 0 0 10px rgba(255,193,7,.3) , 0 0 10px 15px rgba(255,193,7,.5);
}
.center2 .ring::before{
  background: #2196f3;
  box-shadow: 0 0 0 10px rgba(33,150,243,.3) , 0 0 10px 15px rgba(33,150,243,.5);
}
@keyframes animateCenter1{
  0%{
    transform: translate(-50%,-50%) rotate(0deg); 
  }
  100%{
    transform: translate(-50%,-50%) rotate(360deg); 
  }
}
@keyframes animateCenter2{
  0%{
    transform: translate(-50%,-50%) rotate(0deg); 
  }
  100%{
    transform: translate(-50%,-50%) rotate(-360deg); 
  }
}

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/

.menubar{
  background: #1c1c1c;
}
.social-media {
  text-align: right;
}
.social-media i {
  color: #000;
  font-size: 12px;
  margin: 0 10px;
}
.social-media span {
  font-weight: bold;
  color: #000;
  letter-spacing: 2px;
  font-size: 10px;
}
.top-header {
  background: #ffcc05;
  padding: 6px 0;
}
.timebox span {
  font-size: 10px;
  letter-spacing: 1px;
  color: #000;
  margin-left: 8px;
  font-weight: bold;
}
.timebox i {
  font-size: 12px;
  color: #000;
}
.headerbox {
  padding: 15px 0;
  background: #222222;
}
.call{
  text-align: right;
}
.call i,
.email i {
  font-size: 40px;
  color: #ffcc05;
}
.call p,
.email p {
  color: #fff;
  font-size: 14px;
}
p.infotext {
  color: #ffcc05;
  font-size: 12px;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
}
.logo {
  color: #fff;
  text-align: center;
}
.logo h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  padding: 0;  
}
.logo p {
  margin-bottom: 0;  
}
.logo-same-line {
  text-align: left;
}
.logo-same-line h1 {
  font-size: 25px;
}

/*--------------------------------------------------------------
Menu bar
--------------------------------------------------------------*/
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.25);
}*/
.menubar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.main-navigation ul{
  list-style: none;
  margin: 0;
  padding-left: 0;  
}
.main-navigation li{
  position: relative;
  padding: 15px;
  display: inline-block;
}
.main-navigation li:last-child{
  border-right: none;
}
.main-navigation a{
  display: block;
  color: #fff;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  letter-spacing: 1px;
}
.main-navigation a:hover{
  color: #ffcc05;
}
.main-navigation ul ul{
  display: none;
  position: absolute;
  left: 0;
  top: 100% ;
  background: #1c1c1c;
  min-width: 215px;
  z-index: 9999;
}
.main-navigation ul ul ul{
  left: 100%;
  top: 0;
}
.main-navigation ul ul a{
  color: #fff;
}
.main-navigation ul ul li,
.menubar.scrolled .main-navigation ul ul li{
  float: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid #cccccc;
}
.main-navigation ul ul li:last-child{
  border-bottom: 0;
}
.main-navigation ul li:hover > ul{
  display: block;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a{
  color: #ffcc05;
}
.main-navigation .menu-nav > ul > li.highlight{
  background-color: #ffcc05;
}
.main-navigation .menu-nav > ul > li.highlight:hover{
  background: transparent;
}
.menubar.scrolled .menu-nav > ul > li:hover > a:after,
.menubar.scrolled .menu-nav > ul > li.current_page_item > a:after,
.menubar.scrolled .menu-nav > ul > li.current-menu-item > a:after{
  height: 2px;
}
.menu-nav > ul > li.exoplanet-search:after{
  background: transparent !important;
}
.main-navigation ul ul li:hover > a{
  color: #fff;
}
/*--------------------------------------------------------------
Superfish Menu
--------------------------------------------------------------*/
.sf-arrows .sf-with-ul{
  padding-right: 15px;
}
.sf-arrows .sf-with-ul:after{
  content: '';
  position: absolute;
  right: 0;
  margin-top: -2px;
  height: 0;
  width: 0;
  border-top-color: #e1e1e1;
}
.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #888;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after{
  border-left-color: #333;
}
.toggle-nav, a.closebtn{
  display: none;
}
/*--------------------------------------------------------------
Search pop up
--------------------------------------------------------------*/
.search_outer {
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
  z-index: 99999;
  position: absolute;  
  right: 0px;
  display: none;
}
.search_inner {
  width: 100%;
  padding: 10px;
  background: #ffffff;
}
.search_inner form.search-form {
  border: 3px double #ffcc05;
  padding: 10px 20px;
  border-radius: 0;
  background: #ffffff;
}
.search_inner [type="submit"] {
  padding: 5px 12px;
  background: url(assets/images/search.png) no-repeat scroll 0 4px;
  font-size: 13px;
  text-align: center;
  float: right;
  text-indent: -9999px;
  border: none;
}
.search_inner input.search-field {
  border: none;
  padding: 4px 0;
  background: transparent;
  width: 88%;
}
.search-box i {
  color: #222222;
  background: #ffcc05;
  padding: 18.5px;
  cursor: pointer;
}
.search-box button {
  background: transparent;
  border: none;
}

/*--------------------------------------------------------------
Post Pages
--------------------------------------------------------------*/

.page-box {
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
  padding: 20px;
}
.box-image img,
.box-content img {
  width: 100%;
  height: auto;
}
.box-info i {
  margin-right: 5px;
  background: #eee;
  padding: 10px;
  color: #000;
  font-size: 12px;
}
.box-info {
  padding: 5px 0;
}
.box-info span {
  margin-right: 10px;
  color: #999;
  font-size: 12px;
}
.page-box p {
  color: #999;
  font-size: 15px;
  margin: 15px 0;
}
.page-box h4 a {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}
.page-box h4 {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.page-box a,.nav-links a {
    text-decoration: none;
}
.readmore-btn a {
  border-bottom: 1px solid #ebebeb;
  font-weight: 600;
  letter-spacing: 1px;
}
/*--------------------------------------------------------------
SLIDER
--------------------------------------------------------------*/
#slider{ 
  max-width:100%; 
  margin:auto; 
  padding:0;
  background: #000;
}
#slider img {
  width: 100%;
  opacity: 0.7;
}
#slider .carousel-item-next,#slider .carousel-item-prev,#slider .carousel-item.active {
  display: block !important;
}
#slider .carousel-control-prev-icon, #slider .carousel-control-next-icon{
  background-image: none;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px;
  background: #333333c9;
  color: #fff;
}
#slider .carousel-control-next, #slider .carousel-control-prev{
  opacity: 1;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  width: auto;
  height: auto;
}
#slider .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  right: 60%;
  bottom: auto;
}
#slider .inner_carousel h2 {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1px;
  color: #fff;
  border-left: solid 5px #ffcc05;
  padding-left: 15px;
  padding-bottom: 0;
}
#slider .inner_carousel {
  text-align: left;
  color: #fff;
}
#slider .inner_carousel p {
  font-size: 15px;
  margin-top: 10px;
  letter-spacing: 1px;
}
.more-btn a:hover {
  background: #1c1c1c;
  color: #fff;
}
.more-btn a {
  background: #ffcc05;
  color: #000;
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12px;
}
.more-btn{
  margin: 25px 0;
}
/*--------------------------------------------------------------
From Our Blog
--------------------------------------------------------------*/
#static-blog {
  padding: 3% 0;
}
#static-blog h3 {
  border-left: solid 6px #ffcc05;
  color: #000;
  padding: 0;
  font-size: 35px;
  font-weight: bold;
  padding-left: 10px;
  margin: 15px 0;
}
#static-blog h4 a {
  color: #000;
}
#static-blog h4 {
  margin-bottom: 10px;
  padding: 0;
}
#static-blog p {
  color: #999;
  letter-spacing: 1px;
  line-height: 24px;
}
#static-blog img{
  width: 100%;
}
.blog-info {
  background: #ffcc05;
  color: #000;
  position: relative;
  padding: 10px;
  margin-top: -72px;
  width: 50px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.blog-info .dateday {
  font-size: 20px;
}
.read-more-btn a {
  border: solid 2px;
  padding: 10px;
}
.read-more-btn {
  margin: 25px 0;
}

/*--------------------------------------------------------------
WOOCOMMERCE CSS
--------------------------------------------------------------*/

.woocommerce nav.woocommerce-pagination ul li {
  border-right: none;
}
.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span{
  padding:15px;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current{
  background: #222222;
  color: #fff;
}
.woocommerce nav.woocommerce-pagination ul{
  border:none;
}
.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea{
  padding: 10px;
}
.woocommerce ul.products li.product .button,
a.checkout-button.button.alt.wc-forward {
  margin-top: 1em;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: none;
}
.woocommerce  .star-rating {
  margin: 0 auto 10px !important;
}
.woocommerce span.onsale{
  background: #222;
  padding: 0;
}
.products li {
  border: solid 1px #ddd;
  padding: 10px !important;
  text-align: center;
}
h2.woocommerce-loop-product__title,
.woocommerce div.product .product_title {
  color: #222;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 18px !important;
  margin-bottom: 10px !important;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #222;
  font-size: 15px
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: #ffcc05;
  color: #222;
  border-radius: 0;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: #222;
  color: #fff;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 4px;
  border-radius: 0;
  border: solid 2px #222;
  color: #222;
}
.col-1,.col-2 {
  max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding: 0;
}
nav.woocommerce-MyAccount-navigation ul li {
  border: solid 2px #222;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 0 0 #222;
  font-weight: bold;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #222;
  text-decoration: none;
}
span.woocommerce-input-wrapper,
.woocommerce label,span.password-input {
 width: 100%;
}
.woocommerce .woocommerce-ordering select {
  padding: 5px;
  font-size: 12px;
}
span.posted_in {
  display: block;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 22%;
  display: inline-block;
  margin: 5px;
}

/*--------------------------------------------------------------
Posts Numbers
--------------------------------------------------------------*/
.page-numbers {
  background: #ffcc05;
  color: #1c1c1c;
  padding: 10px 15px;
  font-weight: bold;
}
.prev.page-numbers,
.next.page-numbers {
  font-size: 15px;
  background: #ffcc05;
}
.prev.page-numbers:focus,
.prev.page-numbers:hover,
.next.page-numbers:focus,
.next.page-numbers:hover {
	background-color: #1c1c1c;
	color: #fff;
}
.page-links {
	font-size: 14px;
	font-weight: 800;
	padding: 2em 0 3em;
}
.page-links .page-number {
	color: #1c1c1c;
	display: inline-block;
	padding: 0.5em 1em;
}
.page-links a {
	display: inline-block;
}
.page-links a .page-number {
	color: #222;
}

/* Post Navigation */

.post-navigation {
	font-weight: 500;
	margin: 3em 0;
}
.nav-subtitle {
	background: transparent;
	color: #1c1c1c;
	display: block;
	font-size: 11px;
	letter-spacing: 0.1818em;
	margin-bottom: 1em;
	text-transform: uppercase;
}
.nav-title {
	color: #333;
	font-size: 15px;
}
span.meta-nav {
  color: #1c1c1c;
  background: #ffcc05;
  padding: 5px;
}
.nav-previous {
  float: right;
}

/*--------------------------------------------------------------
 404 page
--------------------------------------------------------------*/

.error404 .page-content {
	padding-bottom: 4em;
}
.error404 .page-content .search-form,
.search .page-content .search-form {
	margin-bottom: 3em;
}
.error-404 input[type="search"] {
  border: solid 1px #1c1c1c;
  padding: 10px;
}
.error-404 [type="submit"] {
  padding: 10px;
  background: #ffcc05;
  border: solid 1px #1c1c1c;
  cursor: pointer;
  font-weight: 500;
}

/*--------------------------------------------------------------
Sidebar
--------------------------------------------------------------*/

#theme-sidebar section {
  border: 1px solid #ebebeb;
  padding: 20px;
  background: #fff;
  margin-bottom: 30px;
}
#theme-sidebar h3 {
  border-bottom: 1px solid #ebebeb;
  font-size: 16px;
  color: #ffcc05;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-weight: bold;
}
#theme-sidebar ul,#footer ul {
    list-style: none;
    padding: 0;
}
#theme-sidebar li:last-child {
  border: none;
}
#theme-sidebar li {
  border-bottom: 1px dashed #ebebeb;
  color: #999;
  line-height: 20px;
  padding: 10px 0;
  font-size: 12px;
}
#theme-sidebar a:hover {
  color: #d28d07;
}
#theme-sidebar a {
  color: #999;
  font-size: 13px;
}
#theme-sidebar .textwidget img,
#footer img  {
  width: 100%;
  height: auto;
}
#theme-sidebar select {
  padding: 10px;
  border: solid 1px #ebebeb;
  background: transparent;
  font-size: 14px;
  width: 100%;
  color: #999;
}
#theme-sidebar .tagcloud a {
  border: 1px solid #ebebeb;
  color: #999;
  line-height: 20px;
  padding: 5px 10px;
  font-size: 12px !important;
  display: inline-block;
  margin-bottom: 5px;
}
#theme-sidebar .tagcloud {
  margin-top: 15px;
}
#theme-sidebar input[type="search"],
#footer input[type="search"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 15px;
}
#theme-sidebar button[type="submit"],
#footer button[type="submit"] {
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  background: #ffcc05;
  border: none;
  cursor: pointer;
}
#theme-sidebar table#wp-calendar {
  border: solid 1px #ebebeb;
  text-align: center;
  margin-top: 15px;
  width: 100%;
}
#theme-sidebar th,#theme-sidebar td {
  border-right: solid 1px #ebebeb;
  padding: 10px 0;
}
#theme-sidebar tr {
  border-bottom: solid 1px #ebebeb;
}
.woocommerce #theme-sidebar {
  margin-top: 30px;
}

/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/

#comments {
	clear: both;
	padding: 2em 0 0.5em;
}
.comments-title {
	font-size: 20px;
	margin-bottom: 1.5em;
}
.comment-list,
.comment-list .children {
	list-style: none;
	margin: 0;
	padding: 0;
}
.comment-list li:before {
	display: none;
}
.comment-body {
	margin-left: 65px;
}
.comment-author {
	font-size: 16px;
	margin-bottom: 0.4em;
	position: relative;
	z-index: 2;
}
.comment-author .avatar {
	height: 50px;
	left: -65px;
	position: absolute;
	width: 50px;
}
.comment-author .says {
	display: none;
}
.comment-meta {
	margin-bottom: 1.5em;
}
.comment-metadata {
	color: #767676;
	font-size: 10px;
	font-weight: 800;
	letter-spacing: 0.1818em;
	text-transform: uppercase;
}
.comment-metadata a {
	color: #767676;
}
.comment-metadata a.comment-edit-link {
	color: #222;
	margin-left: 1em;
}
.comment-body {
	color: #333;
	font-size: 14px;
	margin-bottom: 4em;
}
.comment-reply-link {
	font-weight: 800;
	position: relative;
}
.comment-reply-link .icon {
	color: #222;
	left: -2em;
	height: 1em;
	position: absolute;
	top: 0;
	width: 1em;
}
.children .comment-author .avatar {
	height: 30px;
	left: -45px;
	width: 30px;
}
.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
	border: 1px solid #333;
	padding: 2px;
}
.no-comments,
.comment-awaiting-moderation {
	color: #767676;
	font-size: 14px;
	font-style: italic;
}
.comments-pagination {
	margin: 2em 0 3em;
}
.comment-form #wp-comment-cookies-consent {
	margin: 0 10px 0 0;
}
.comment-form .comment-form-cookies-consent label {
	display: inline;
}
#comments input[type="submit"] {
  background: #ffcc05;
  border: none;
  padding: 10px 50px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
input[type="text"],
input[type="url"],
input[type="email"],
input[type="phno"],
input[type="password"], 
textarea{
  border:1px solid #c8c8c8;
  width:100%; 
  font-size:16px;
  padding:10px 10px; 
  margin:0 0 23px 0;
  height:auto;
}

/*--------------------------------------------------------------
Commen CSS
--------------------------------------------------------------*/

#primary {
  padding: 3% 0;
}
.sticky .page-box h4{
  background: url(assets/images/pin.png) no-repeat scroll 0 0px;
  padding-left: 40px;
}
#gallery-1 img {
  border: 2px solid #000 !important;
}
#gallery-1 .gallery-item {
  width: 30% !important;
  margin: 4px;
}
iframe,
.entry-audio audio{
  width: 100%;
}
.entry-video {
    width: 100%;
}
.entry-audio {
    width: 100%;
}
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
#footer {
  background: #222222;
  letter-spacing: 1px;
  clear: both;
}
#footer h3 {
  font-size: 20px;
  padding: 10px 0;
  color: #fff;
  border-bottom: dashed 1px #656363;
  margin-bottom: 10px;
}
#footer li a {
  color: #999;
}
#footer li {
  color: #999;
  font-size: 13px;
  padding: 5px 0;
}
#footer table#wp-calendar {
  border: dashed 1px #656363;
  text-align: center;
  margin-top: 15px;
  width: 100%;
}
#footer th,#footer td {
  border-right: dashed 1px #656363;
  padding: 5px 0;
  color: #999;
}
#footer tr {
  border-bottom: dashed 1px #656363;
  color: #999;
}
#footer select {
  padding: 5px;
  width: 100%;
}
#footer .widget_rss img{
  width: auto;
}
#footer .widget_rss li{
  border-bottom: solid 2px #656363;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#footer .textwidget {
  color: #999;
}
#footer .tagcloud a {
  border: 1px dashed #656363;
  color: #999;
  line-height: 20px;
  padding: 5px 10px;
  font-size: 12px !important;
  display: inline-block;
  margin-bottom: 5px;
}
.site-info {
  background: #1c1c1c;
  padding: 15px 0;
}
.site-info p{
  margin-bottom: 0;
  text-align: center;
  color: #999;
}

/*--------------------------------------------------------------
Scroll Top
--------------------------------------------------------------*/

#return-to-top {
  position: fixed;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/*--------------------------------------------------------------
WordPress Core
--------------------------------------------------------------*/
.alignwide {
  margin-left  : -80px;
  margin-right : -80px;
}
.alignfull {
  margin-left  : calc( -100vw / 2 + 100% / 2 );
  margin-right : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;
}
.alignfull img {
  width: 100vw;
}
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; 
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/*--------------------------------------------------------------
Media Queries
--------------------------------------------------------------*/
@media screen and (max-width: 1000px){
  .main-navigation ul ul{
    background-color: transparent;
  }
  .main-navigation ul ul li, .menubar.scrolled .main-navigation ul ul li{
    border-bottom: none;
  }
  .toggle-nav i {
    font-size: 30px;
    color: #fff;
  }
  .toggle-nav button{
    background: transparent;
    border: none;
    font-size:30px;
    text-align: right;
  }
  .toggle-nav button:focus{
    outline: -webkit-focus-ring-color auto 1px;
  }
  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    visibility: hidden;
    background-color: #151515;
    transition: 0.5s width ease-in-out;
    padding-top: 60px;
    box-shadow: 2px 2px 10px 0px #2d2d2d;
    overflow-y: scroll;
  }
  .sidenav.open{
    visibility: visible;
  }
  .sidenav a {
    text-decoration: none;
    color: #818181;
    display: block;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    display: block;
    color: #ffffff;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav{
    display: block;
  }
  .innermenubox {
    position: static;
    padding-bottom: 10px;
  }
  .main-navigation a{
    color: #444;
  }
  .main-navigation .menu-nav{
    float: none;
    text-align: center;
  }
  .main-navigation ul ul li,
  #masthead.scrolled .main-navigation ul ul li{
    display: block;
  }
  .main-navigation .menu-nav > ul > li.highlight{
    background: transparent !important;
  }
  .menu-nav > ul > li:hover:before, 
  .menu-nav > ul > li.current_page_item:before, 
  .menu-nav > ul > li.current-menu-item:before{
    display: none;
  }
  .sf-arrows .sf-with-ul:after{
    border-top-color: #333;
  }
  .toggle i.fa.fa-bars,.toggle i.fa.fa-times {
    float: right;
    color: black;
  }
  .menubar .nav ul{ 
    width:100%;
    margin-top:0; 
  }
  .menubar .nav ul li,
  .menubar.scrolled .main-navigation li{
    border-top:1px #303030 solid; 
    display:block;
    text-align:left;
    float:none;
    width: 100%;
  }  
  .nav ul li a{
    padding: 10px; 
    display:block; 
    color:#ffffff;
  }
  .nav ul li a:hover{
    color:#ff8a00;
  }
  .nav ul li ul,
  .nav ul li ul ul{ 
    display:block !important;
  }
  .nav ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .nav ul li ul li a{
  padding-left:20px !important;
  }
  .nav ul li ul li ul li a{
    padding-left:30px !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
    box-shadow: none;
  }
  .main-navigation li{
    padding: 0;
  }
  .scrolled{
    position: static;
  }
}

@media screen and (max-width: 560px){
  .top-header,
  .social-media,
  .headerbox,
  .call{
    text-align: center;
  }
  .serach_outer{
    top: auto;
  }
  #slider .inner_carousel h2,
  #slider .inner_carousel p{
    display: none;
  }
  #slider .carousel-caption{
    right: auto;
  }
  .woocommerce ul.products.columns-3 li.product, 
  .woocommerce-page ul.products.columns-3 li.product{
    width: 100%;
  }
  .woocommerce .woocommerce-ordering, 
  .woocommerce-page .woocommerce-ordering{
    float: none;
  }
}